.additionals {
  border: none;
  border-top: 3px solid @main-bg-color;

  margin-bottom: 22px;
}

.additionals__title {
  width: 182px;
}

.additionals__wrapper {
  width: 280px;
  margin: 0 auto;
}

.additionals__label {
  position: relative;
  display: block;
  text-transform: uppercase;
}

.additionals__checkbox {
  display: none;

  margin-right: 16px;
  margin-bottom: 13px;

  & + .additionals__label {
    &::before {
      display: inline-block;
      vertical-align: -114%;
      box-sizing: border-box;
      margin-right: 16px;
      margin-bottom: 12px;

      content: "";
      width: 30px;
      height: 30px;
      border: solid 1px @outline-color-opacity;
      background-color: transparent;
    }
  }

  &:checked {
    & + .additionals__label::after {
      position: absolute;
      left: 6px;
      top: 5px;
      display: inline-block;

      content: "";
      width: 19px;
      height: 10px;
      transform: rotate(-45deg);
      border-left: 2px solid @main-bg-color;
      border-bottom: 2px solid @main-bg-color;
    }
  }
}

@media (min-width: @tablet-width) {
  .additionals {
    margin-bottom: 21px;
  }

  .additionals__title {
    width: 292px;
  }

  .additionals__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 631px;
    margin: 0 auto;
  }

  .additionals__label {
    width: 287px;
  }

  .additionals__checkbox {
    & + .additionals__label {
      &::before {
        width: 40px;
        height: 40px;
        vertical-align: -45px;
        margin-bottom: 33px;
        margin-right: 19px;
      }
    }

    &:checked {
      & + .additionals__label::after {
        left: 10px;
        top: 11px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .additionals {
    margin-bottom: 19px;
  }

  .additionals__wrapper {
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 10px;
  }

  .additionals__title {
    margin-bottom: 46px;
  }

  .additionals__label {
    width: 220px;
  }

  .additionals__checkbox {
    & + .additionals__label {
      margin-right: 25px;
    }

    &:hover {
      & + .additionals__label {
        &::before {
          border-color: @outline-color;
        }
      }
    }

    &:active {
      & + .additionals__label {
        &::before {
          opacity: 0.3;
        }
      }

      &:checked + .additionals__label::after {
        opacity: 0.3;
      }
    }

    &:disabled {
      & + .additionals__label {
        opacity: 0.1;

        &::before {
          pointer-events: none;
        }
      }

      &:checked + .additionals__label::after {
        pointer-events: none;
        opacity: 0.1;
      }
    }
  }
}
