.additions-descr {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 284px;
  font-family: @arial-font;
}

.additions-descr__name {
  width: 242px;
}

.additions-descr__value {
  width: 42px;
  text-align: right;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .additions-descr {
    width: 100%;
    padding-top: 5px;
  }

  .additions-descr__name {
    width: 135px;

    text-align: right;
  }

  .additions-descr__value {
    width: 94px;
    padding-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .additions-descr__name {
    width: 243px;

    text-align: left;
  }

  .additions-descr__value {
    width: 55px;

    text-align: left;
  }
}
