.additions-item {
  width: 288px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 16px;
  border-top: 1px solid @outline-color;

  &:last-child {
    border-bottom: 1px solid @outline-color;
  }
}

.additions-item__title {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: @sec-font-color;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .additions-item {
    width: 706px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 1px solid @outline-color;

    .catalog-item__button {
      width: 633px;
    }
  }

  .additions-item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 640px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 9px;
  }

  .additions-item__title {
    width: 420px;
    margin-bottom: 13px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .additions-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0;

    border: none;
    border-top: 1px solid @outline-color;

    .catalog-item__button {
      width: 245px;
      margin-top: 2px;
      margin-bottom: 13px;
    }
  }

  .additions-item__wrapper {
    width: 651px;
    margin: 0;
  }

  .additions-item__title {
    width: 320px;
    margin-left: 1px;
    margin-bottom: 9px;
  }
}
