.button-link {
  padding-top: 10px;
  padding-bottom: 11px;

  font-family: @oswald-font;
  color: @alt-font-color;
  text-align: center;
  text-transform: uppercase;

  background-color: @main-bg-color;
  border: none;
}

@media (min-width: @tablet-width) {
  .button-link {
    font-size: 20px;
    line-height: 20px;
  }
}
