.catalog-item {
  padding: 25px 20px;
}

.catalog-item__link {
  margin-bottom: 23px;
}

.catalog-item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #111111;
  text-align: left;
}
