.comments {
  border: none;
  border-top: 3px solid @main-bg-color;
  margin-bottom: 27px;
}

// @media (max-width: @mobile-width-only) {
//   .comments {
//     padding: 0;
//   }
// }

.comments__title {
  display: inline-block;
  vertical-align: bottom;

  box-sizing: border-box;
  padding-left: 17px;
  padding-right: 21px;
  margin-bottom: 36px;
  width: 160px;
}

.comments__comment-field {
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 12px;
  width: 87.5vw;
  min-height: 150px;
  margin: 0 auto;

  text-transform: uppercase;
  border: 1px solid @outline-color;
}

@media (min-width: @tablet-width) {
  .comments {
    &.program-form__fieldset {
      padding-left: 30px;
      margin-bottom: 66px;
    }
  }

  .comments__title {
    width: 255px;
    padding-left: 36px;
    margin-bottom: 75px;
  }

  .comments__comment-field {
    width: 631px;
    min-height: 174px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .comments__comment-field {
    width: 1220px;
  }
}
