.contacts {
  border: none;
  border-top: 3px solid @main-bg-color;
  border-left: 3px solid @page-wht-bg-color;

  &.program-form__fieldset {
    margin-top: 8px;
    padding-bottom: 27px;
  }
}

.contacts__title {
  display: inline-block;
  vertical-align: bottom;

  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 14px;
  padding-right: 21px;
  margin-bottom: 33px;
  width: 217px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 89vw;
  margin: 0 auto;
}

.contacts__label {
  text-transform: uppercase;
}

.contacts__input {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 11px 0 14px 15px;

  border: 1px solid @outline-color;

  &--email {
    width: 69vw;
    margin-left: 8px;
    margin-bottom: 14px;
  }

  &--phone {
    width: 64vw;
    margin-left: 7px;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    &.program-form__fieldset {
      margin-bottom: 37px;
    }
  }

  .contacts__wrapper {
    width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .contacts__title {
    width: 590px;
    padding-top: 0;
    padding-left: 39px;
    margin-left: 25px;
    margin-bottom: 65px;
  }

  .contacts__input {
    padding-top: 14px;
    padding-left: 20px;

    &--email {
      width: 552px;
      margin-left: 15px;
      margin-bottom: 20px;
    }

    &--phone {
      width: 537px;
      margin-left: 9px;
    }
  }

  .contacts__label {
    &:first-of-type {
      margin-left: 2px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    &.program-form__fieldset {
      padding-bottom: 9px;
    }
  }

  .contacts__title {
    padding-top: 0;
    margin-left: 65px;
  }

  .contacts__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }

  .contacts__input {
    padding-left: 17px;

    &--email {
      width: 486px;
    }

    &--phone {
      width: 472px;
      margin-left: 13px;
    }
  }

  .contacts__label {
    &:first-of-type {
      margin-left: 0;
    }
  }
}
