.example-slider {
  position: relative;
  min-height: 320px;
  width: @mobile-width;
  margin: 0 auto;
}

.example-slider__image {
  position: absolute;
  display: block;

  &--before {
    left: 0;
  }

  &--after {
    display: none;
    left: 15%;
  }
}

.example-slider__toggle {
  position: absolute;
  display: flex;
  width: 210px;
  margin: 0 auto;
  bottom: 27px;
  left: 17%;
}

.example-slider__was {
  margin-left: 8px;
}

.example-slider__was,
.example-slider__is {
  border: none;
  padding: 0;

  font-family: @oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
}

.example-slider__line {
  width: 84px;
  height: 14px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 3px;
  padding: 3px 6px;

  box-sizing: border-box;

  background-color: @page-wht-bg-color;
  border: 1px solid @outline-color;
  border-radius: 6px;
}

.example-slider__inner-element {
  width: 35px;
  height: 6px;

  background-color: @main-bg-color;
  border-radius: 3px;
}

@media (min-width: @tablet-width) {
  .example-slider {
    width: 708px;
    min-height: 460px;
    margin: 0 auto;
  }

  .example-slider__toggle {
    width: 586px;
    bottom: 66px;
    left: 8.5%;
  }

  .example-slider__was,
  .example-slider__is {
    padding-bottom: 7px;

    font-size: 20px;
    border-bottom: 1px dotted @outline-color;
  }

  .example-slider__line {
    width: 428px;
    height: 6px;
    padding: 0;
    margin-left: 24px;
    margin-right: 21px;
    margin-top: 8px;

    background-color: #dcdcdc;
  }

  .example-slider__inner-element {
    position: relative;
    margin-left: 46%;
    margin-top: -16px;

    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: @page-wht-bg-color;
    border: 1px solid @outline-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      top: 12px;
      left: 13px;

      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @main-bg-color;
    }
  }

  .example-slider__image {
    bottom: 112px;
    width: 685px;
    height: 517px;

    &--before {
      left: 17px;
    }

    &--after {
      left: 2.5%;
    }
  }
}

@media (min-width: @desktop-width) {
  .example-slider {
    width: 100%;
  }

  .example-slider__toggle {
    left: 24px;
    bottom: 64px;
  }

  .example-slider__image {
    bottom: 132px;
    left: -46px;
  }

  .example-slider__was,
  .example-slider__is {
    &:hover {
      border-bottom: 1px solid @outline-color;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example-slider__inner-element {
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px @main-bg-color;
    }
  }
}
