.example-section {
  padding: 33px 20px 38px 20px;

  background-color: @page-bg-color;
}

.example-section__title {
  margin-bottom: 33px;
}

.example-section__description {
  margin-bottom: 27px;

  text-align: left;
  font-family: @arial-font;
}

.example-section__price {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
