.example-slider {
  min-height: 320px;
}

.example-slider__was,
.example-slider__is {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.example-slider__toggle {
  display: flex;
}

@media (min-width: @tablet-width) {
  .example-slider {
    width: 92vw;
    min-height: 460px;;
    margin: 0 auto;
  }
}
