.goal {
  border: none;

  &.program-form__fieldset {
    padding-top: 21px;
    padding-bottom: 22px;

    border-bottom: 1px solid @outline-color;
  }
}

.goal__label {
  text-transform: uppercase;
}

.goal__radio-button {
  margin-right: 16px;
  margin-bottom: 13px;
}
