.how-works {
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 42px;

  color: @arial-font-color;
}

@media (min-width: @tablet-width) {
  .how-works {
    width: @tablet-width;
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .how-works {
    min-width: 1235px;
    margin-bottom: 52px;
  }
}
