.intro-board {
  position: relative;

  margin: 0 auto;
  margin-bottom: 24px;
  padding-top: 29px;

  color: @alt-font-color;
  text-align: center;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 280px 270px, 320px 305px;
  background-position: 50% 167px, center top;
  min-height: 440px;
}

.intro-board__wrapper {
  width: 250px;
  margin: 0 auto;
}

.intro-board__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.intro-board__subtitle {
  line-height: 14px;
  text-transform: uppercase;
}

.intro-board__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 301px;
  padding-top: 12px;

  text-decoration: none;
}

@media (min-width: @mobile-width) and (min-resolution: @retina-dpi), (min-width: @mobile-width) and (min-resolution: @retina-dppx) {
  .intro-board {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.png");
  }
}

@media (min-width: @tablet-width) {
  .intro-board {
    width: @tablet-width;
    min-height: 809px;
    padding-top: 46px;
    margin-bottom: 0;

    color: @main-font-color;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    background-position: center 247px;
  }

  .intro-board__wrapper {
    width: 420px;
    margin-left: 118px;
  }

  .intro-board__title {
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro-board__subtitle {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro-board__button {
    width: 245px;
    padding-top: 14px;
    padding-bottom: 16px;
    margin-top: 48px;
    margin-left: 118px;
  }
}

@media (min-width: @tablet-width) and (min-resolution: @retina-dpi), (min-width: @tablet-width) and (min-resolution: @retina-dppx) {
  .intro-board {
    background-image: url("../img/index-can-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .intro-board {
    width: @desktop-width;
    padding-top: 0;
    min-height: 696px;
    margin-bottom: 80px;

    color: @main-font-color;

    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-size: 552px 499px, 720px 696px;
    background-position: 560px 142px, right top;
  }

  .intro-board__wrapper {
    padding-top: 222px;
    margin-left: 190px;
  }

  .intro-board__button {
    margin-top: 54px;
    margin-left: 190px;
  }
}

@media (min-width: @desktop-width) and (min-resolution: @retina-dpi), (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
  .intro-board {
    background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
  }
}
