.map-section {
  padding-top: 13px;

  &.inner-map {
    background-color: @page-bg-color;
  }
}

.map-section__wrapper {
  display: flex;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;

  background-color: @alt-font-color;

  &.inner-map {
    background-color: @page-bg-color;
  }
}

.map-section__title {
  width: 140px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.map-section__address {
  width: 140px;

  line-height: 20px;
  font-family: @arial-font;
}

.map-section__image {
  display: block;
  min-height: 370px;
  min-width: @mobile-width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .map-section {
    padding-top: 0;
  }

  .map-section__wrapper {
    width: 708px;
    padding: 48px 41px 40px 41px;
  }

  .map-section__title {
    width: 30%;
    margin-right: 258px;

    font-size: 20px;
    line-height: 25px;
  }

  .map-section__address {
    width: 30%;

    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--city {
      display: inline-block;
      margin-top: 20px;
    }
  }

  .map-section__image {
    min-width: @tablet-width;
    min-height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map-section {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 400px;
  }

  .map-section__wrapper {
    position: absolute;
    left: 111px;
    z-index: 2;

    margin-top: 97px;
    padding-top: 49px;
    padding-right: 27px;
    padding-left: 76px;
    width: 571px;

    &.inner-map {
      background-color: @page-wht-bg-color;
    }
  }

  .map-section__title {
    width: 34%;
    margin-right: 89px;
  }

  .map-section__address {
    width: 33%;
    text-align: left;
  }

  .map-section__image {
    min-width: 98vw;
    min-height: 400px;
  }
}
