.map-section {
  display: flex;
  flex-direction: column;

  text-align: left;

  &.inner-map {
    background-color: @page-bg-color;
  }
}

.map-section__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px 25px 28px 19px;
  width: @mobile-width;

  background-color: @alt-font-color;
}

.map-section__title {
  margin-right: 19px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.map-section__address {
  line-height: 20px;
  font-family: @arial-font;
}

.map-section__image {
  height: 400px;
  min-width: @mobile-width;
}

@media (min-width: @tablet-width) {
  .map-section__wrapper {
    width: @tablet-width;
  }
  .map-section__image {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .map-section__wrapper {
    position: absolute;
    margin-top: 95px;
    left: 120px;
    z-index: 2;
    width: 570px;
  }
  .map-section__image {
    min-width: @desktop-width;
  }
}
