.page-footer {
  background-color: @page-bg-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-footer__logo {
  margin-top: 43px;
  margin-bottom: 28px;
}

.page-footer__social-list {
  width: 280px;
  padding: 0;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 18px;

  border-top: 1px solid @outline-color;
  border-bottom: 1px solid @outline-color;
}

.page-footer__contact {
  width: 300px;
  margin: 0 auto;

  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 19px;

  font-size: 16px;
  line-height: 16px;
  color: @arial-font-color;
  font-family: @arial-font;

  text-decoration: none;
}

.page-footer__contact-image {
  display: inline-block;
  width: 39px;
  height: 40px;
  margin-left: 130px;

  vertical-align: middle;
  fill: @icon-color;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding-top: 25px;
    padding-bottom: 52px;
    width: 723px;
    flex-direction: row;
    justify-content: space-around;
  }

  .page-footer__logo {
    width: 32%;
    margin-left: 10px;
    margin-top: 38px;
  }

  .page-footer__social-list {
    border: none;
  }

  .page-footer__contact {
    width: 32%;
    margin: 0;
    padding-top: 25px;

    text-align: right;
  }

  .page-footer__contact-image {
    margin-left: 13px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    justify-content: space-between;
    width: 1240px;
    padding-top: 30px;
  }

  .page-footer__contact {
    width: 31.5%;
    padding-top: 29px;
    margin-right: 3px;

    &:hover {
      .page-footer__contact-image {
        fill: @main-bg-color;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__logo {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
