.page-header {
  width: 100%;
}

.page-header__big-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0 auto;
}

.page-header__wrapper {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 13px;
  width: 87vw;
}

@media (min-width: @mobile-width) and (max-width: @mobile-width-only) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

@media (min-width: @tablet-width) {
  .page-header__big-wrapper {
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    width: 709px;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 9px;
  }

  .page-header__wrapper {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    &.index {
      position: absolute;
      z-index: 10;
    }
  }

  .page-header__big-wrapper {
    width: 1235px;
    margin-top: 50px;
  }

  .page-header__wrapper {
    width: 720px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
