.personal-info {
  padding-bottom: 23px;

  border: none;
  border-bottom: 1px solid @outline-color;
}

.personal-info__label {
  text-transform: uppercase;
}

.personal-info__name {
  width: 228px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-bottom: 14px;

  text-transform: uppercase;
}

.personal-info__weight {
  width: 199px;
  margin-left: 13px;
  margin-bottom: 14px;
}

.personal-info__age {
  width: 167px;
  margin-left: 11px;
}

@media (min-width: @tablet-width) {
  .personal-info__name {
    width: 567px;
  }

  .personal-info__weight {
    width: 534px;
  }

  .personal-info__age {
    width: 495px;
  }
}

@media (min-width: @desktop-width) {
  .personal-info__name {
    width: 506px;
  }

  .personal-info__weight {
    width: 475px;
  }

  .personal-info__age {
    width: 436px;
  }
}
