.personal-info {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid @outline-color;

  &.program-form__fieldset {
    padding-bottom: 23px;
  }
}

.personal-info__label {
  text-transform: uppercase;
}

.personal-info__input {
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 12px 0 14px 14px;
  border: 1px solid  @outline-color;

  font-family: @oswald-font;
  font-size: 16px;
  line-height: 18px;

  &--name {
    width: 228px;
    margin-left: 10px;
    margin-bottom: 12px;
  }

  &--weight {
    width: 203px;
    margin-left: 13px;
    margin-bottom: 14px;
  }

  &--age {
    width: 172px;
    margin-left: 11px;
  }
}

@media (min-width: @tablet-width) {
  .personal-info {
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;

    &.program-form__fieldset {
      padding-bottom: 53px;
    }
  }

  .personal-info__label {
    margin-left: 2px;
  }

  .personal-info__input {
    padding: 8px 0 11px 20px;
    margin-bottom: 21px;

    font-size: 20px;

    &--name {
      width: 566px;
      margin-left: 11px;
    }

    &--weight {
      width: 534px;
      margin-left: 14px;
    }

    &--age {
      width: 495px;
      margin-left: 11px;
      margin-bottom: 0;;
    }
  }
}

@media (min-width: @desktop-width) {
  .personal-info {
    &.program-form__fieldset {
      width: 571px;
      margin: 0;
      padding-bottom: 42px;
    }
  }

  .personal-info__input {
    padding-left: 18px;

    &--name {
      width: 506px;
    }

    &--weight {
      width: 475px;
    }

    &--age {
      width: 436px;
    }
  }
}
