.prize-section__wrapper {
  position: relative;
  width: 280px;
  min-height: 289px;
  margin: 0 auto;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.prize-section__text-wrapper {
  width: 161px;
  margin: 0 auto;
  padding-top: 65px;

  text-align: center;

  &::before {
    display: block;
    width: 56px;
    height: 61px;
    margin: 0 auto;
    margin-bottom: 61px;

    content: "";
    background-image: url("../img/gift-svg.svg");
    background-repeat: no-repeat;
  }
}

.prize-section__text {
  font-size: 16px;
  line-height: 20px;
  color: @alt-font-color;
  font-family: @arial-font;
}

@media (min-width: @mobile-width) and (min-resolution: @retina-dpi), (min-width: @mobile-width) and (min-resolution: @retina-dppx) {
  .prize-section__wrapper {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .prize-section__wrapper {
    width: 708px;
    min-height: 200px;
    margin-bottom: 38px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .prize-section__text {
    display: inline-block;
    width: 162px;

    text-align: left;
  }

  .prize-section__text-wrapper {
    display: inline-block;
    width: 677px;

    &::before {
      display: inline-block;
      width: 56px;
      height: 61px;
      margin: 0;
      margin-right: 277px;

      content: "";
      background-image: url("../img/gift-svg.svg");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @tablet-width) and (min-resolution: @retina-dpi), (min-width: @tablet-width) and (min-resolution: @retina-dppx) {
  .prize-section__wrapper {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .prize-section__wrapper {
    width: 245px;
    min-height: 289px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .prize-section {
    width: 245px;
  }

  .prize-section__text-wrapper {
    width: 159px;
    margin-left: 42px;

    &::before {
      margin-right: 0;
      margin-bottom: 58px;
    }
  }

  .prize-section__text {
    text-align: center;
  }
}

@media (min-width: @desktop-width) and (min-resolution: @retina-dpi), (min-width: @desktop-width) and (min-resolution: @retina-dppx) {
  .prize-section__wrapper {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}
