.program-form {
  margin-bottom: 13px;
}

.program-form__description {
  width: @mobile-width;
  margin: 0 auto;
}

.program-form__description-text {
  width: 226px;
  margin-left: 20px;
  margin-bottom: 39px;

  text-align: left;
  text-transform: uppercase;
}

.program-form__fieldset {
  padding: 0;
  font-size: 16px;
  color: @sec-font-color;
}

.program-form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}

.program-form__fieldset-title {
  box-sizing: border-box;
  padding-left: 18px;
  padding-bottom: 7px;
  margin-bottom: 29px;
  margin-left: calc((100% - @mobile-width)/2);

  font-size: 24px;
  line-height: 24px;
  text-align: left;
  font-weight: normal;
  color: @main-font-color;

  &.contacts__title {
    padding-top: 21px;
    padding-bottom: 4px;
  }
}

.program-form__note {
  margin: 0;
  margin-bottom: 33px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @arial-font-color;
  font-family: "Arial", sans-serif;
}

.program-form__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 21px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.program-form__button-wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .program-form__description {
    width: @tablet-width;
  }

  .program-form__wrapper {
    margin-bottom: 75px;
  }

  .program-form__description-text {
    width: 323px;
    margin-left: 70px;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__fieldset {
    font-size: 20px;
    line-height: 20px;
  }

  .program-form__fieldset-title {
    padding-bottom: 10px;
    padding-left: 39px;
    margin-left: calc((100% - 708px)/2);

    font-size: 36px;
    line-height: 36px;

    &.contacts__title {
      padding-left: 39px;
      padding-top: 0;
      padding-bottom: 10px;
      margin-bottom: 65px;
    }

    &.comments__title {
      margin-bottom: 66px;
    }

    &.additionals__title {
      margin-bottom: 46px;
    }
  }

  .program-form__button {
    width: 283px;
    margin: 0;
    margin-right: 63px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-form__note {
    margin-bottom: 0;
    margin-top: 16px;

    font-size: 16px;
  }

  .program-form__button-wrapper {
    display: flex;
    width: 628px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .program-form__fieldset-wrapper {
    width: 631px;
  }
}

@media (min-width: @desktop-width) {
  .program-form__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .program-form__description {
    width: 1220px;
  }

  .program-form__description-text {
    margin-left: 0;
    margin-bottom: 67px;
  }

  .program-form__fieldset-wrapper {
    width: 1220px;

    &--shorten {
      width: 100%;
    }
  }

  .program-form__button {
    width: 568px;
    padding-top: 14px;
    margin-right: 81px;
    margin-left: 2px;
  }

  .program-form__note {
    width: 181px;
  }

  .program-form__button-wrapper {
    width: 1220px;
    margin-bottom: 79px;
  }

  .program-form__fieldset-title {
    margin-left: calc((100% - @desktop-width)/2);
  }
}
