.program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: @mobile-width;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 16px;

  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .program-list {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .program-list {
    width: @desktop-width;
    flex-direction: row;
    justify-content: center;
    min-height: 372px;
    margin-bottom: 42px;
  }
}
