.program-item {
  box-sizing: border-box;
  width: 87.5%;
  padding: 22px 20px;

  background-color: @page-bg-color;

  &:first-child {
    margin-bottom: 20px;
  }
}

.program-item__description {
  margin: 0;
  padding-bottom: 22px;

  color: @arial-font-color;
  font-family: @arial-font;

  border-bottom: 1px solid @outline-color;
}

.program-item__link {
  display: inline-block;
  margin-top: 19px;

  font-size: 16px;
  line-height: 16px;
  color: @main-font-color;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;

  &::after {
    display: inline-block;
    vertical-align: baseline;
    width: 25px;
    height: 12px;
    margin-left: 12px;

    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }
}

.program-item__title {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::after {
    display: inline-block;
    vertical-align: middle;

    content: "";
  }

  &--slim {
    &::after {
      width: 35px;
      height: 48px;
      margin-left: -170px;
      margin-top: -10px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--pro {
    &::after {
      width: 67px;
      height: 28px;
      margin-left: -215px;
      margin-top: -4px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }

  &::before {
    display: inline-block;
    vertical-align: middle;

    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 2px;

    background-color: @main-bg-color;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .program-item {
    min-height: 372px;
    padding-top: 74px;
    padding-left: 52px;
    margin-bottom: 29px;
    width: 708px;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  .program-item__wrapper {
    display: inline-block;
    width: 600px;
  }

  .program-item__title {
    font-size: 36px;
    margin-bottom: 25px;
  }

  .program-item__description {
    width: 372px;
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;

    &--pro {
      width: 340px;
    }
  }

  .program-item__link {
    margin-top: 10px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      width: 25px;
      height: 12px;
      margin-left: 23px;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
  .program-item {
    position: relative;
  }

  .program-item__title {
    &::after {
      position: absolute;
    }

    &--slim {
      &::after {
        width: 141px;
        height: 194px;
        right: 90px;
        top: 89px;
      }
    }

    &--pro {
      &::after {
        width: 268px;
        height: 113px;
        right: 27px;
        top: 138px;
      }
    }

    &::before {
      position: absolute;
      right: 40px;
      top: 92px;

      width: 200px;
      height: 200px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program-item {
    box-sizing: border-box;
    width: 570px;
    min-height: 372px;
    padding-top: 46px;

    &:first-child {
      margin-right: 80px;
    }
  }

  .program-item__description {
    width: 464px;
    margin-bottom: 7px;
  }

  .program-item__title {
    margin-bottom: 38px;

    &--slim {
      &::after {
        width: 71px;
        height: 97px;
        margin-left: -312px;
        margin-top: -19px;
      }
    }

    &--pro {
      &::after {
        width: 134px;
        height: 57px;
        margin-left: -385px;
        margin-top: -2px;
      }
    }

    &::before {
      width: 100px;
      height: 100px;
      margin-right: 60px;
      margin-left: 2px;
    }
  }

  .program-item__link {
    margin-top: 0;

    &:hover {
      &::after {
        width: 34px;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }
}
