.result-section {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .result-section {
    justify-content: left;
  }
}

@media (min-width: @desktop-width) {
  .result-section {
    justify-content: space-between;
  }
}
