.section-title {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: @main-font-color;

  &.how-works__title {
    margin-left: 20px;
    margin-bottom: 28px;
  }

  &.example-section__title {
    margin-bottom: 23px;
  }

  &.form-page__title {
    width: 90vw;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: 17px;
  }

  &.catalog-page__title {
    width: 90vw;
    margin-bottom: 13px;
    margin-left: 20px;
    margin-top: 15px;
  }
}

.section-title__wrapper {
  width: @mobile-width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .section-title {
    font-size: 60px;

    &.how-works__title {
      margin-bottom: 72px;
      margin-left: 30px;
    }

    &.example-section__title {
      margin-bottom: 65px;
      margin-left: 30px;
    }

    &.catalog-page__title {
      margin-top: 56px;
      margin-left: 30px;
    }

    &.form-page__title {
      width: 92vw;
      margin-bottom: 56px;
      margin-left: 30px;
      margin-top: 56px;
    }
  }

  .section-title__wrapper {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .section-title__wrapper {
    width: @desktop-width;
  }

  .section-title {
    margin-left: 113px;

    &.example-section__title {
      width: 1205px;
      margin: 0 auto;
      margin-bottom: 75px;
    }

    &.how-works__title {
      margin-left: 8px;
    }

    &.catalog-page__title {
      width: 1205px;
      margin: 0 auto;
      margin-top: 74px;
    }

    &.form-page__title {
      width: 92vw;
      margin-bottom: 55px;
      margin-left: 110px;
      margin-top: 73px;
    }
  }
}
