.show-more__title {
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.show-more__subtitle {
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 16px;
  color: @arial-font-color;
  text-align: center;
  font-family: @arial-font;
}

.show-more__button {
  font-family: @oswald-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @arial-font-color;
  text-transform: uppercase;

  background-color: @page-bg-color;
}

.show-more__link {
  margin-bottom: 25px;
}
