.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.social-list__item {
  min-height: 20px;

  &:first-child {
    margin-left: -10px;
  }

  &:nth-child(2) {
    margin-left: 36px;
    margin-right: 40px;
  }
}

.social-list__item-image {
  fill: @icon-color;

  &--fb {
    width: 10px;
    height: 19px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    width: 153px;
  }

  .social-list__item {
    min-height: 28px;

    &:first-child {
      margin-top: 6px;
    }

    &:nth-child(2) {
      margin-left: 28px;
      margin-right: 29px;
    }
  }

  .social-list__item-image {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--vk {
      width: 30px;
      height: 16px;
    }
  }
}
